body {
  margin: 0;
  background-color: #00040f; /* Dark background */
  color: #FFFFFF; /* White text */
  font-family: 'Poppins', sans-serif;
  cursor: none;
}

.text-gradient {
  background: linear-gradient(to right,  #35d3e4, #4a80ec);
  background-clip: text;
-webkit-background-clip: text;
  color: transparent;
}

.border-gradient {
  background: linear-gradient(to right,  #35d3e4, #4a80ec);
}

.bg-primary {
  background-color: #00040f;
}

.bg-gradient {
  background-color: teal;
}

.hover:bubble:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.custom-cursor-outer {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}

.custom-cursor-inner {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
}