body {
  margin: 0;
  background-color: #00040f; /* Dark background */
  color: #FFFFFF; /* White text */
  font-family: 'Poppins', sans-serif;
  cursor: none;
}

.text-gradient {
  background: linear-gradient(to right,  #35d3e4, #4a80ec);
  background-clip: text;
-webkit-background-clip: text;
  color: transparent;
}

.border-gradient {
  background: linear-gradient(to right,  #35d3e4, #4a80ec);
}

.bg-primary {
  background-color: #00040f;
}

.bg-gradient {
  background-color: teal;
}

.hover:bubble:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.custom-cursor {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.15); /* semi-transparent white */
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference; /* helps it show on dark backgrounds */
  filter: blur(10px);
  transition: border-radius 0.2s ease;
}
