body {
  margin: 0;
  background-color: #00040f; /* Dark background */
  color: #FFFFFF; /* White text */
  font-family: 'Poppins', sans-serif;
}

.text-gradient {
  background: linear-gradient(to right,  #35d3e4, #4a80ec);
  background-clip: text;
-webkit-background-clip: text;
  color: transparent;
}

.bg-primary {
  background-color: #00040f;
}

.bg-gradient {
  background-color: teal;
}

.hover:bubble:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}