@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* Global body styles */
body {
  margin: 0;
  background-color: #00040f; /* Dark background color */
  color: #FFFFFF; /* White text color */
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Specific code block styling */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #333; /* Dark background for code blocks */
  color: #fff; /* White text for code */
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
}

/* Links and hover state */

a:hover {
  color: #ffffff; /* Lighter shade for hover */
  transition: color 0.3s ease;
}

/* Smooth hover transitions for interactive elements */
button, .hover\:text-teal-200:hover {
  transition: all 0.3s ease-in-out;
}

/* Smooth background transitions */
.bg-primary {
  background-color: #00040f;
  transition: background-color 0.3s ease;
}

/* Apply gradient background for sections */
.bg-gradient-to-b {
  background-image: linear-gradient(to bottom, #00040f, #00040f);
}

.bg-secondary {
  background-color: #25427d ;
  transition: background-color 0.3s ease;
}

/* Text gradients */
.text-gradient {
  background: linear-gradient(to right, #35d3e4, #4a80ec);
  background-clip: text;
-webkit-background-clip: text;
  color: transparent;
}

.slick-slide {
  padding: 0 10px; 
}

.slick-prev,
.slick-next {
  z-index: 1;
  width: 30px; 
  height: 30px; 
  color: white; 
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px; 
  opacity: 1; 
  color: white; 
}
